# command:

booktest 

# configuration:

 * context: examples/predictor

# output:


# test results:

  book/predictor/predictor..<number> ms
  book/predictor/predict_dog..<number> ms

2/2 test succeeded in <number> ms


