# command:

booktest 

# configuration:

 * context: examples/predictor

# output:


# test results:

  book/predictor_book.py::PredictorBook/test_predictor..DIFF <number> ms
  book/predictor_book.py::PredictorBook/test_predict_dog..DIFF <number> ms

2/2 test failed in <number> ms:

  book/predictor_book.py::PredictorBook/test_predictor
  book/predictor_book.py::PredictorBook/test_predict_dog


